<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{{title}}</title>
  </head>
  <body class="bg-dark text-light">
    
    <div class="container">

        {{header}}

        {{content}}

        {{footer}}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgkpCZ0/tY9uL7GKkf1S0CkWuKCkD38IYkebHz80jEGOm1gyU5S9FnOjs0" crossorigin="anonymous"></script>
  </body>
</html>
